h1{
    color : black;
    font-size :large; 
    font-style: normal; 
 }

 h2{
    color : black;
    font-size :medium; 
    font-style: normal; 
 }
 
 h3{
    color : rgba(0, 0, 0, 0.719);
     font-size: smaller; 
     font-style: italic; 
     
     text-align:justify;
     margin-left: 10px;
     margin-right: 10px;
 }

 b{
    color: black;
 }
 
 h4{
     color:black;
     font-size: normal;
     text-align:right
 }

 /*
 i{
    width: 20%;
    height : 20%;
 }
 */

 .container{
     width: 40%;
     height: 90%;
     border-color: black;
     border-radius: 2px;
     border-style: solid;
    /* align : center; */
     margin-right: 60%;
     margin-left: 30%;
     margin-right: 5%; 
     background-color: white;
     
 }

 .rectangle1-head{
     width: 100%;
     height: 5%;
     display :flex;
 }

 .rectangle1-head-photo{
     width: 5%;
     height: 5%;
     display :flex; 
     margin-top: 5%; 
     margin-left: 1%; 
       
 }
 .rectangle1-head-txt{
    width : 20%;
    height : 5%;
    display :flex;
    margin-top: 0%;
    margin-left: 0%;

 }
 
 .rectangle1-head-elip{
     width: 5%;
     height: 5%;
     display:flex;
     padding-left: 75%;
 
 }
 .rectangle1-photo{
     width :100%;
     height: 80%;
     align-items: center;
     display: inline;
     
 }

 .rectangle1-Part3
 {
    width: 99%;
    height: 60%;
    display :flex;
    align-items: left;
       
}
.rectangle1-Part3-heart{
    margin-left: 2%;
}

.rectangle1-Part3-comment{
    margin-left: 2%;
}
.rectangle1-Part3-paper{
    margin-left: 2%;
}

.regtangle-Part3-right{
    width: 100px;
    height: 60%;
    padding-left: 80%;
    
}

 .rectangle1-foot{
     width :100%;
     height: 15%;
     padding-left: 5px;
     padding-top: 3%;
     padding-right: 5%;
     padding-bottom: 5px;
     margin-right: 5px;
     margin-left: 2px;

     
 }
 
 body{
    color: rgb(95, 95, 235);
    background-color: rgb(0, 183, 255);
 }